<div class="container py-5">
  <div class="d-flex flex-column align-items-center gap-4">
    <div
      class="border border-2 border-warning bg-warning"
      style="width: 80px"
    ></div>
    <h3 class="text-uppercase fw-bold fs-1">Merchandise</h3>
    <p class="text-center w-75 text-body-tertiary">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus dicta
      debitis inventore quaerat sed, quis repellat veniam, cupiditate
      consequuntur facilis sapiente eligendi rem, quo earum!
    </p>
    <div class="row row-cols-4 row-gap-3 w-100">
      <app-product-card
        imgSrc="../../../assets/product-1.jpg"
        title="T-Shirt"
        price="20.00"
      ></app-product-card>
      <app-product-card
        imgSrc="../../../assets/product-2.jpg"
        title="Mugs"
        price="20.00"
      ></app-product-card>
      <app-product-card
        imgSrc="../../../assets/product-3.jpg"
        title="Mouse Mats"
        price="20.00"
      ></app-product-card>
      <app-product-card
        imgSrc="../../../assets/product-4.jpg"
        title="Nike Sports Water Bottle"
        price="20.00"
      ></app-product-card>
    </div>
  </div>
</div>
