<div class="w-100 h-100">
  <div class="container d-flex flex-column gap-5 mt-5">
    <!-- <div class="d-flex w-100 h-100"></div> -->
    <div class="row gap-2">
      <div class="col">
        <app-card
          heading="Circuit Training"
          description="Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          imgSrc="../../../assets/img-7.jpg"
          [hasButton]="false"
        ></app-card>
      </div>
      <div class="col">
        <app-card
          heading="Body Conditioning"
          description="Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          imgSrc="../../../assets/img-8.jpg"
          [hasButton]="false"
        ></app-card>
      </div>
      <div class="col">
        <app-card
          heading="Group Exercise"
          description="Lorem ipsum dolor sit amet, consectetur adipisicing elit"
          imgSrc="../../../assets/img-9.jpg"
          [hasButton]="false"
        ></app-card>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex flex-column gap-2 w-50">
        <div
          class="border border-2 border-warning bg-warning"
          style="width: 80px"
        ></div>
        <div class="d-flex flex-column gap-4 py-4">
          <h2 class="text-uppercase fs-2 fw-bold">About us</h2>
          <p class="fs-5 text-body-tertiary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            iste qui aperiam voluptatum odit tempora deserunt hic dignissimos
            sit et! Voluptas facere veniam accusamus.
          </p>
          <p class="fs-5 text-body-tertiary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            iste qui aperiam voluptatum odit tempora deserunt hic dignissimos
            sit et! Voluptas facere veniam accusamus. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Pariatur earum, perferendis ad quia
          </p>
        </div>
        <div>
          <button
            class="btn border border-2 btn-sm border-warning rounded-pill text-warning fw-bold px-5 py-2"
          >
            Read More
          </button>
        </div>
      </div>
      <div>
        <img
          src="../../../assets/aboutus.jpg"
          class="w-100 position-relative top-50"
          alt="banner"
        />
      </div>
    </div>
  </div>
</div>
